.title {
    font-size: 40px;
    text-align: center;
    margin: 70px 0;
}

.offersContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 30px;
}

.container {
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
}

@media screen and (max-width: 768px){
    .offersContainer {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}