.container {
    display: flex;
    align-items: center;
    color: var(--gray);
    gap: 10px;
    padding: 50px 0;
}

.title {
    margin-top: 40px;
    font-size: 42px;
}

.button {
    border-radius: 15px;
    color: var(--gray);
    border: 1px solid var(--gray);
    padding: 5px 10px 5px 5px;
    background: #f0f1f1;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 5px;
}

.button:hover, .button.active {
    border-color: var(--primary);
    color: white;
    background: var(--primary);
}