.stars {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.container {
    margin-bottom: 50px;
}

.container.md{
    max-width: 450px;
}
.container.sm{
    max-width: 350px;
}

.image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 40px;
}

.info {
    display: flex;
    align-items: center;
    font-size: 18px;
    gap: 10px;
    color: var(--gray);
    font-weight: 500;
}

.commercialInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.price {
    font-size: 32px;
    font-weight: 500;
}

.button {
    text-transform: uppercase;
    color: white;
    background: var(--primary);
    border: 0;

    font-size: 18px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;

    display: flex;
    align-items: center;
    padding: 10px 50px 10px 5px;
    gap: 30px;
}

.media {
    position: relative;
}

.participants {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 5px;
    right: 10px;
    bottom: 10px;
    background: var(--primary);
    color: white;
    border-radius: 15px;
}

@media screen and (max-width: 991px) {
    .container {
        max-width: 650px;
    }
}