*, :before, :after {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
}

#root {
    --primary: #f15f2b;
    --gray: #959595;
}

.link{
    color:var(--primary);
}

.container {
    max-width: 1400px;
    position: relative;
    margin: 0 auto;
}
.main {
    border-top: 1px solid rgba(224, 218, 218, 0.8);
}

@media screen and (max-width: 1280px) {
    .container {
        max-width: 980px;
    }
}

@media screen and (max-width: 1920px) {
    .container {
        padding-right: 20px;
        padding-left: 20px;
    }
}